body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {                       
    display: inline;
    margin-right: 20px;
}

nav ul li a { 
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
